/* Will be compiled down to a single stylesheet with your sass files */

.center-container{}

.table-container{}

.pagination-no-margin{margin: 0 0;}

.cursor-pointer{cursor: pointer;}

.fsize12{font-size: 12px;}
.fsize10{font-size: 10px;}

tr{position: relative;}

.tr-options{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;}

.main-content{
	padding-top: 0;
}