/* Will be compiled down to a single stylesheet with your sass files */

.center-container{}

.table-container{}

.pagination-no-margin{margin: 0 0;}

.cursor-pointer{cursor: pointer;}

.fsize12{font-size: 12px;}
.fsize10{font-size: 10px;}

tr{position: relative;}

.tr-options{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;}

.main-content{
	padding-top: 0;
}

.modal.fade.in {top: 5%!important;}
.modal{width: 400px!important; max-height: 470px!important;}
.modal-header {padding: 5px 15px!important;}
.modal-footer {padding: 10px 15px 10px!important;}

.modal-body {max-height: 348px!important;}

.modal-body table tbody tr{height: 20px;}
.modal-body table tbody tr input[type="number"]{margin-bottom: 0; line-height: 15px; height: 15px;}