<div ng-include="'views/common/menu.html'"></div>
<div  ng-controller="ProdottiCtrl">
    <div class="hero-unit">
        <h3>Gestione prodotti - {{supermercato.nome}}, {{supermercato.indirizzo}}</h3>
    </div>
    <div class="container center-container">
        <div class="row-fluid">
            <div class="alert span6 offset3" ng-show="prodottiLength==0">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Attenzione!</strong> Non hai insetrito nessun carico in questo supermercato!
            </div>
        </div>
        <div class="row-fluid">
            <form class="form-inline">
                <button class="btn btn-primary" ng-click="openNewCarico()">Inserisci un nuovo carico</button>
            </form>
        </div>
        <table class="table table-bordered table-striped table-hover table-container table-condensed" ng-show="view==1">
        <thead>
            <tr>
                <th><div class="text-center fsize12">N°</div></th>
                <th colspan="2" ng-repeat="prod in prodottiNomi | orderBy:tipo" style="width: 8%;">
                    <div class="text-center fsize12">{{prod.tipo}}</div>
                </th>
            </tr>
            <tr>
                <th></th>
                <th colspan="2" ng-repeat="ind in [1,2,3,4,5,6,7,8,9,10,11,12]" class="fsize10">
                    <span class="pull-left">kg</span>
                    <span class="pull-right">scatole</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="cursor-pointer" ng-click="" ng-repeat="(key, carico) in prodotti">
                <td ng-click="openSetCarico(carico)"><div class="text-center fsize12">{{key}}</div></td>
                <td colspan="2" ng-repeat="pr in carico | orderBy:tipo" ng-click="openSetCarico(carico)">
                    <span class="pull-left">{{pr.kg}}</span>
                    <span class="pull-right">{{pr.scatole}}</span>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
        </table>
        <table class="table table-adapt table-bordered table-striped table-hover table-container table-condensed" ng-show="view==0">
            <thead>
                <tr>
                    <th colspan="2" class="span2">Carichi</th>
                    <th ng-repeat="(k, c) in prodotti" class="span1" style="text-align: center;">{{k}}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-repeat="(key, prodotti) in prodottiByTipo | orderBy:tipo">
                    <td class="tipo">{{key}}</td>
                    <td><p>kg</p><p>scatole</p></td>
                    <td ng-repeat="prodotto in prodotti | orderBy: carico" style="text-align: center;" class="cursor-pointer">
                        <p>{{prodotto.kg}}</p>
                        <p>{{prodotto.scatole}}</p>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
        <form>
            <div class="modal-header">
                <h3>Nuovo carico</h3>
            </div>
            <div class="modal-body new_carico_modal">
                <table class="table table-bordered table-striped table-hover table-container table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kili</th>
                            <th>Scatole</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="" ng-repeat="pr in carico | orderBy:prodotto">
                            <td class="">{{pr.prodotto}}</td>
                            <td>
                                <input type="number" class="span1" ng-model="pr.kg" required/>
                            </td>
                            <td>
                                <input type="number" class="span1" ng-model="pr.scatole" required/>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
</div>