<div  ng-controller="ReportCtrl" keyboard:interceptor>
    <div ng-include="'views/common/menu.html?version={{version}}'" ng-show="!excelMode"></div>
    <div class="hero-unit" ng-show="!excelMode">
        <h3>Report prodotti</h3>
    </div>
    <div class="container center-container">
        <div  ng-show="searchForm" ng-show="!excelMode">
            <div class="row" ng-if="user.privilegi>1" ng-show="!excelMode">
                <form class="form-inline">
                    <select class="filter" ui-select2="{ allowClear: true}" ng-model="search.colletta" placeholder="Colletta">
                        <option ng-value=""></option>
                        <option ng-value="coll.id" ng-repeat="coll in colletta">{{coll.nome}} {{coll.anno}}</option>
                    </select>
                    <button class="btn btn-primary" ng-click="getSupermercati(true)">Aggiorna</button>
                </form>
            </div>
        </div>
        <div class="row" ng-if="user.privilegi==1" ng-show="!excelMode">
            <form class="form-inline">
                <select class="filter" ui-select2="{ allowClear: true}" ng-model="search.provincia" placeholder="Provincia">
                    <option ng-value=""></option>
                    <option ng-value="provincia.id" ng-repeat="provincia in provincie">{{provincia.nome}}</option>
                </select>
                <select class="filter" ui-select2="{ allowClear: true}" ng-model="search.comune" placeholder="Comune">
                    <option ng-value=""></option>
                    <option ng-value="comune.id" ng-repeat="comune in comuni | filter:{id_provincia: provinciaSearch}">{{comune.nome}}</option>
                </select>
                <select class="filter" ui-select2="{ allowClear: true}" ng-model="search.colletta" placeholder="Colletta">
                    <option ng-value=""></option>
                    <option ng-value="coll.id" ng-repeat="coll in colletta">{{coll.nome}} {{coll.anno}}</option>
                </select>
                <button class="btn btn-primary" ng-click="getSupermercati()">Genera</button>
            </form>
        </div>
        <div class="row" ng-show="!excelMode">
            <form class="form-inline">
                <input type="checkbox" class="pull-left" ng-model="tableView" id="view"/>
                <label for="view" class="pull-left">Visualizza supermercati</label>
                <select class="filter" ui-select2="{ allowClear: true}" ng-model="search.catena" placeholder="Catena">
                    <option ng-value=""></option>
                    <option ng-value="catena.nome" ng-repeat="catena in catene">{{catena.nome}}</option>
                </select>
            </form>
        </div>
        <div ng-switch on="feedback.status">
            <p class="loader_supermercati" ng-switch-when="1">
                <span>Attendi... </span>
                <span><i class="fa fa-circle-o-notch fa-spin"></i></span>
            </p>
            <div class="row" ng-switch-when="2">
                <table class="table table-bordered table-striped table-hover table-container table-condensed"
                    ng-show="!tableView">
                    <thead>
                        <tr>
                            <th>Comune</th>
                            <th class="other" colspan="2" ng-repeat="prod in prodottiNomi | orderBy:tipo" style="width:95px;">
                                <div class="text-center fsize10">{{prod.tipo}}</div>
                            </th>
                            <th class="last" colspan="2" style="width:90px;">
                                <div class="text-center fsize10">TOT</div>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th ng-repeat="ind in prodottiNomiDouble" class="fsize10" style="width:45px;">
                                <span class="pull-left" ng-if="$even">kg</span>
                                <span class="pull-right" ng-if="$odd">scat.</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="comune in reportByComuniArray|filter:{enabled: true} track by $index">
                            <td>{{comune.nome}}</td>
                            <td class="tipo fsize10" ng-repeat="ind in prodottiNomiDouble.slice(0, prodottiNomiDouble.length-2)">
                              <span class="pull-left" ng-if="$even">{{comune.totali[Math.floor((ind-1)*0.5)].kg}}</span>
                              <span class="pull-right" ng-if="$odd">{{comune.totali[Math.floor((ind-1)*0.5)].scatole}}</span>
                            </td>
                            <td class="fsize10">
                              <span class="pull-left" >{{comune.complessivo.kg}}</span>
                            </td>
                            <td class="fsize10">
                              <span class="pull-right" >{{comune.complessivo.scatole}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="fsize11">
                            <th>KILI</th>
                            <th colspan="2" class="tipo" ng-repeat="tot in totaliComplessivi.tipi|orderBy:tipo">
                                <span class="pull-left" ng-init="tot.kg=parseInt(tot.kg)">{{tot.kg}}</span>
                            </th>
                            <th colspan="2">
                                {{parseInt(totaliComplessivi.complessivo.kg)}}
                            </th>
                        </tr>
                        <tr class="fsize11">
                            <th>SCATOLE</th>
                            <th colspan="2" class="tipo" ng-repeat="tot in totaliComplessivi.tipi|orderBy:tipo">
                                <span class="pull-left" ng-init="tot.scatole=parseInt(tot.scatole)">{{tot.scatole}}</span>
                            </th>
                            <th colspan="2">
                                {{parseInt(totaliComplessivi.complessivo.scatole)}}
                            </th>
                        </tr>
                    </tfoot>
                </table>
                <table class="table table-bordered table-striped table-hover table-container table-condensed"
                    ng-show="tableView"
                >
                    <thead>
                        <tr>
                            <th>nome</th>
                            <th>indirizzo</th>
                            <th>comune</th>
                            <th style="width:95px;" class="other" colspan="2" ng-repeat="prod in prodottiNomi | orderBy:tipo">
                                <div class="text-center fsize10">{{prod.tipo}}</div>
                            </th>
                            <th style="width:90px;" class="last" colspan="2">
                                <div class="text-center fsize10">TOT</div>
                            </th>
                        </tr>
                        <tr>
                            <th style="width:120px; word-break:break-all;"></th>
                            <th style="width:120px; word-break:break-all;"></th>
                            <th style="width:120px; word-break:break-all;"></th>
                            <th ng-repeat="ind in prodottiNomiDouble" class="fsize10" style="width:45px;">
                                <span class="pull-left" ng-if="$even">kg</span>
                                <span class="pull-right" ng-if="$odd">scat.</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="fsize10" ng-repeat="object in report|filter:{enabled:true,catena.nome:search.catena}|orderBy:'comune'">
                            <td style="word-break:break-all;">{{object.nome}}</td>
                            <td style="word-break:break-all;">{{object.indirizzo}}</td>
                            <td style="word-break:break-all;">{{object.comune}}</td>
                            <td class="tipo fsize10" ng-repeat="ind in prodottiNomiDouble.slice(0, prodottiNomiDouble.length-2)">
                              <span class="pull-left" ng-if="$even">{{object.prodotti[Math.floor((ind-1)*0.5)].Kg}}</span>
                              <span class="pull-right" ng-if="$odd">{{object.prodotti[Math.floor((ind-1)*0.5)].scatole}}</span>
                            </td>
                            <td class="fsize10">
                              <span class="pull-left" >{{object.totali.kg}}</span>
                            </td>
                            <td class="fsize10">
                              <span class="pull-right" >{{object.totali.scatole}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="fsize11">
                            <th>KILI</th>
                            <th></th>
                            <th></th>
                            <th colspan="2" class="tipo" ng-repeat="tot in totaliComplessivi.tipi|orderBy:tipo">
                                <span class="pull-left" ng-init="tot.kg=parseInt(tot.kg)">{{tot.kg}}</span>
                            </th>
                            <th colspan="2">
                                {{parseInt(totaliComplessivi.complessivo.kg)}}
                            </th>
                        </tr>
                        <tr class="fsize11">
                            <th>SCATOLE</th>
                            <th></th>
                            <th></th>
                            <th colspan="2" class="tipo" ng-repeat="tot in totaliComplessivi.tipi|orderBy:tipo">
                                <span class="pull-left" ng-init="tot.scatole=parseInt(tot.scatole)">{{tot.scatole}}</span>
                            </th>
                            <th colspan="2">
                                {{parseInt(totaliComplessivi.complessivo.scatole)}}
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
