<div  ng-controller="SupermercatiCtrl" >
    <div ng-include="'views/common/menu.html?version={{version}}'"></div>
    <div class="hero-unit">
         <h3>Gestione carichi</h3>
    </div>
    <div class="container center-container" >
        <div ng-show="initialized">
            <div class="row">
                <form class="form-inline">
                    <select class="filter" ui-select2="{ allowClear: true}" ng-model="filter.nome" placeholder="Punto vendita">
                        <option ng-value=""></option>
                        <option ng-value="supermercato.nome" ng-repeat="supermercato in supermercati|filter:{catena.id: filter.catena,id_comune: filter.comune,indirizzo:filter.indirizzo}">{{supermercato.nome}}</option>
                    </select>
                    <select class="filter" ui-select2="{ allowClear: true}" ng-model="filter.indirizzo" placeholder="Indirizzo">
                        <option ng-value=""></option>
                        <option ng-value="supermercato.indirizzo" ng-repeat="supermercato in supermercati|filter:{catena.id: filter.catena,id_comune: filter.comune,nome:filter.nome}">{{supermercato.indirizzo}}</option>
                    </select>
                    <select class="filter" ui-select2="{ allowClear: true}" ng-model="filter.provincia" placeholder="Provincia">
                        <option ng-value=""></option>
                        <option ng-value="provincia.nome" ng-repeat="provincia in provincie">{{provincia.nome}}</option>
                    </select>
                    <select class="filter" ui-select2="{ allowClear: true}" ng-model="filter.comune" placeholder="Comune">
                        <option ng-value=""></option>
                        <option ng-value="comune.id" ng-repeat="comune in comuni | filter:{provincia: filter.provincia}">{{comune.nome}}</option>
                    </select>
                    <select class="filter" ui-select2="{ allowClear: true}" ng-model="filter.catena" placeholder="Catena">
                        <option ng-value=""></option>
                        <option ng-value="catena.nome" ng-repeat="catena in catene">{{catena.nome}}</option>
                    </select>
                    <select class="filter" ui-select2="{ allowClear: true}" ng-model="filter.capoEquipe" placeholder="Capi Equipe">
                        <option ng-value=""></option>
                        <option ng-value="capo_equipe.nome" ng-repeat="capo_equipe in capi_equipe">{{capo_equipe.nome}}</option>
                    </select>
                </form>
            </div>
            <div class="row" style="margin: 0 0 15px 0;" ng-show="initialized">
                <span>Supermercati trovati: {{(supermercati|filter:{catena.nome: filter.catena,id_comune: filter.comune, provincia: filter.provincia,nome:filter.nome,indirizzo: filter.indirizzo}).length}}</span>
                <button class="btn btn-primary" ng-click="openNew()">Inserisci nuovo</button>
            </div>
            <div class="row" ng-model="order" ng-init="order='id_supermercato'" ng-switch on="feedback.status">
                <p class="loader_supermercati" ng-switch-when="1">
                    <span>Attendi... </span>
                    <span><i class="fa fa-circle-o-notch fa-spin"></i></span>
                </p>
                <table class="table table-bordered table-striped table-hover table-container table-condensed"
                    ng-switch-when="2">
                    <thead>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Indirizzo</th>
                        <th>Provincia</th>
                        <th>Comune</th>
                        <th>Catena</th>
                        <th>Capi Equipe</th>
                        <th class="actions">Azioni</th>
                    </thead>
                    <tbody>
                        <tr class="" ng-repeat="supermercato in supermercati|filter:{catena.nome: filter.catena,id_comune: filter.comune, provincia: filter.provincia,nome:filter.nome, indirizzo: filter.indirizzo, capo_equipe.nome: filter.capoEquipe}:false | orderBy: order | limitTo:pagination.currentPage()" rel="{{supermercato.index}}">
                            <td>{{supermercato.id_supermercato}}</td>
                            <td>{{supermercato.nome}}</td>
                            <td>{{supermercato.indirizzo}}</td>
                            <td>{{supermercato.provincia}}</td>
                            <td>{{supermercato.comune}}</td>
                            <td>{{supermercato.catena.nome}}</td>
                            <td>
                                <p>{{supermercato.capo_equipe.nome}}</p>
                            </td>
                            <td>
                                <button
                                    class="btn btn-primary"
                                    ng-click="openProducts(supermercato)"
                                    title="Prodotti"
                                >
                                    <i class="fa fa-list"></i>
                                </button>
                                <button
                                    class="btn btn-primary"
                                    ng-click="openDetails(supermercato)"
                                    ng-if="user.privilegi>0"
                                    title="Modifica"
                                >
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <button
                                    ng-show="supermercati.length>pagination.currentPage()"
                                    class="btn btn-primary"
                                    ng-click="incrementPagination()">
                                        Visualizza altri
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div ng-if="modalShow">
            <div ng-include="'views/user/supermercato_dialog.html?version={{version}}'">

            </div>
        </div>
    </div>
</div>
