<div  ng-controller="SupermercatiCtrl" >
    <div ng-include="'views/common/menu.html?version={{version}}'"></div>
    <div class="hero-unit">
         <h2>Supermercati</h2>
    </div>
    <div class="container center-container" >
        <div  ng-show="supermercati.length>0">
            <div class="row">
                <form class="form-inline">
                    <select ui-select2="{ allowClear: true}" ng-model="provinciaSearch" placeholder="Provincia">
                        <option></option>
                        <option ng-value="provincia.id" ng-repeat="provincia in provincie">{{provincia.nome}}</option>
                    </select>
                    <select ui-select2="{ allowClear: true}" ng-model="comuneSearch" placeholder="Comune">
                        <option></option>
                        <option ng-value="comune.id" ng-repeat="comune in comuni | filter:{id_provincia: provinciaSearch}">{{comune.nome}}</option>
                    </select>
                    <select ui-select2="{ allowClear: true}" ng-model="catenaSearch" placeholder="Catena">
                        <option></option>
                        <option ng-value="catena.id" ng-repeat="catena in catene">{{catena.nome}}</option>
                    </select>
                </form>
                <div class="span2" ng-show="pages>1">
                    <p>{{(supermercati | filter: filter_input).length}} elementi</p>
                </div>
                <div class="span7 pull-right" ng-show="pages>1">
                </div>
            </div>
            {{pagination.currentPage()}}
            <table class="table table-bordered table-striped table-hover table-container table-condensed">
                <thead>
                   <th>Nome</th><th>Indirizzo</th><th>Provincia</th><th>Comune</th><th>Catena</th><th>Capi Equipe</th>
                </thead>
                <tbody>
                    <tr class="cursor-pointer" ng-repeat="supermercato in supermercati |                      filter:{id_catena: catenaSearch,id_comune: comuneSearch}|limitTo:pagination.currentPage()" rel="{{supermercato.index}}">
                        <td ng-click="openDetails(supermercato.id)">{{supermercato.nome}}</td>
                        <td ng-click="openDetails(supermercato.id)">{{supermercato.indirizzo}}</td>
                        <td ng-click="openDetails(supermercato.id)">{{supermercato.provincia}}</td>
                        <td ng-click="openDetails(supermercato.id)">{{supermercato.comune}}</td>
                        <td ng-click="openDetails(supermercato.id)">{{supermercato.catena}}</td>
                        <td>
                            <p ng-repeat="capo_equipe in supermercato.capi_equipe">{{capo_equipe.nome}} {{capo_equipe.cognome}}</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>